* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    margin: 20px;
    background-color: #000;
    height: 100%;
}
.controller{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
header{
    margin:0;
    padding: 20px 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(15, 15, 44);
    color: #fff;

}
.control-btn{
    width: 120px;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.enable-btn{
    background-color: rgb(26, 184, 26);
    color: #fff;
    border-bottom: 5px solid rgb(18, 131, 18);
    margin: 10px ;
}

.enable-btn:hover{
    border-bottom: none;
    margin-top: 15px;
}
.disable-btn{
    margin: 10px ;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-bottom: 5px solid rgb(184, 57, 57);
}
.disable-btn:hover{
    border-bottom: none;
    margin-top: 15px;
}
.username-btn{
    width: 200px;
    margin: 10px auto;
    padding: 10px 0;
}
input{
    width: 200px;
    padding: 10px;
    margin: 10px auto;
}

#username-div{
    display: none;
}
#username-label{
    width: 200px;
    height: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(12 11 25);
    border-radius: 8px;
    border: 2px solid rgb(26, 26, 77);
    cursor: pointer;
}
ul.users{
    width: 100%;
    margin: 0;
    padding: 0;
}
ul.users li{
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(15 15 44);
    list-style: none;
    color: #fff;
    border-radius: 8px;
}


/* ------------------------------------------------------------------------ */
.container-voice{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    z-index: 999;

  }
  .chat-container-voice {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    backdrop-filter: blur(10px);
  }
  
  .chat-container-voice.hidden {
    transform: translateX(-100%);
  }
  
  .chat-messages-voice {
    overflow-y: auto;
    white-space: pre-wrap; /* Wrap text even within words */
    word-break: break-word;
  
    max-height: 95vh;
    margin-top: 2vh;
    margin-bottom: 50px;
  }
  
  .chat-input-container-voice {
    display: flex;
    margin-bottom: 50px;
  
  }
  
  
  .toggle-button-voice {
    position: absolute;
    bottom: 10px;
    left: 100px;
    padding: 5px 10px;
    cursor: pointer;

  
    background-color: #007bffb4; /* Set the background color */
    color: #fff; /* Set the text color */
    border: none; /* Remove the default border */
    font-size: 16px; /* Set the font size */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px 10px; /* Add padding for better appearance */
  }
  
